################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UseCase-12-.Net/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
